@import "../../vars.css";

.icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: var(--color-grey);
}

.icon--previous {
    mask-image: url("../../assets/chevron_left.svg");
}

.icon--next {
    mask-image: url("../../assets/chevron_right.svg");
}

.picker {
    border: 1px solid var(--color-border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.picker__navigation {
    width: 24px;
    height: 24px;
    background-color: var(--color-white);
    border: none;
    padding: 0;
    border-radius: var(--radius);
}

.picker__navigation:hover {
    background-color: #F3F5FE;
}

.picker__navigation:active {
    background-color: #E8EAF2;
}

.picker__navigation:disabled, .picker__navigation:disabled:hover, .picker__navigation:disabled:active {
    cursor: not-allowed;
    background-color: var(--color-white);
    opacity: 0.5;
}

.picker__date {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.picker__month {
    font-family: var(--font-family-rubik);
    font-size: 1em;
    font-weight: 600;
    color: var(--color-purple);
    line-height: 20px;
}

.picker__year {
    font-family: var(--font-family-work);
    font-size: 0.75em;
    font-weight: 400;
    color: var(--color-purple);
    line-height: 16px;
}

