.button {
    font-family: "Work Sans", sans-serif;
    font-size: 1em;
    font-weight: 600;
    font-style: normal;
    line-height: 20px;
    text-align: center;
    height: 52px;
    padding: 16px 24px 16px 24px;
    border-radius: 5px;
    border: 1px solid;
    margin: 8px;
    flex-grow: 1;
}

.button--light {
    border: 1px solid rgba(89, 93, 123, 1);
    background-color: #ffffff;
    color: rgba(89, 93, 123, 1);
}

.button--light:hover {
    background: rgba(178, 167, 244, 0.1);
}

.button--light:active {
    background: rgba(178, 167, 244, 0.25);
}

.button--dark {
    background-color: #423C66;
    color: #FFFFFF;
}

.button--dark:hover {
    background-color: #645D93;
}

.button--dark:active {
    background-color: #241E47;
}