.card {
    background-color: #ffffff;
    box-shadow: 0 16px 32px 0 rgba(30, 42, 50, 0.08);
    border-radius: 5px;
    width: 600px;
}

.card__header {
    background-color: #FFDBCB;
    padding: 32px 40px 32px 40px;
    border-radius: 5px 5px 0 0;
    color: #423C66;
    display: flex;
    align-items: center;
}

.card__title {
    font-weight: 600;
    font-size: 2em;
    font-family: "Work Sans", sans-serif;
    margin: 0;
}

.card__subtitle {
    font-weight: 400;
    font-size: 1em;
    margin: 0;
}

.card__content {
    padding: 32px 40px 32px 40px;
}

.card__actions {
    display: flex;
    justify-content: space-between;
    column-gap: 12px;
}

.content__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

.content__label {
    font-weight: 500;
    font-size: 1.5em;
    font-family: "Work Sans", sans-serif;
    color: #1E2A32;
}

.content__amount {
    font-weight: 700;
    font-size: 2em;
    color: #595D7B;
}

.content__summary {
    color: #1E2A32;
    font-size: 0.75em;
    padding: 24px 16px 24px 16px;
    background-color: #F4F8FA;
    border-radius: 5px;
    margin: 24px 0 32px 0;
}

.icon {
    display: inline-block;
    width: 72px;
    height: 72px;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: #423C66;
    mask-image: url("../../assets/givingBlock.svg");
    margin-right: 16px;
}