@import "../../vars.css";

.card {
    background-color: var(--color-white);
    box-shadow: 0 16px 32px 0 rgba(30, 42, 50, 0.08);
    border-radius: var(--radius);
    width: 600px;
    height: 100%;
}

.card__header {
    background-color: var(--color-salmon);
    padding: 24px;
    border-radius: var(--radius) var(--radius) 0 0;
    color: var(--color-midnight-purple);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.card__title {
    font-weight: 600;
    font-size: 1.5em;
    font-family: var(--font-family-work);
    margin: 16px 0 4px 0;
}

.card__subtitle {
    font-weight: 400;
    font-size: 1em;
    margin: 0;
    line-height: 20px;
}

.card__content {
    padding: 32px 40px 32px 40px;
}

.card__actions {
    display: flex;
    justify-content: space-between;
    column-gap: 12px;
}

@media only screen and (min-width: 600px) {
    .card {
        height: auto;
    }

    .card__header {
        height: auto;
        flex-direction: row;
        padding: 32px 40px 32px 40px;
    }

    .card__title {
        font-size: 2em;
        margin: 0;
    }

    .card__subtitle {
        font-size: 1em;
    }
}

.content__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 16px 0;
}

.content__label {
    font-weight: 500;
    font-size: 1em;
    font-family: var(--font-family-work);
    color: var(--color-dark-grey);
}

.content__amount {
    font-weight: 700;
    font-size: 1.5em;
    color: var(--color-purple);
}

.content__summary {
    color: var(--color-dark-grey);
    font-size: 0.75em;
    padding: 24px 16px 24px 16px;
    background-color: var(--color-bg);
    border-radius: var(--radius);
    margin: 24px 0 0 0;
}

.content__total-summary {
    border: 1px solid var(--color-border);
    border-radius: var(--radius);
    margin-top: 40px;
    margin-bottom: 32px;
}

@media only screen and (min-width: 600px) {
    .content__total-summary {
        border: 0;
        margin-top: 32px;
    }

    .content__amount {
        font-size: 2em;
    }

    .content__label {
        font-size: 1.5em;
    }

    .content__total {
        padding: 0 16px;
    }
}

.donation {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    width: 100%;
}

.donation__label {
    font-family: var(--font-family-work);
    font-size: 14px;
    font-weight: 500;
    color: var(--color-grey);
    margin-bottom: 6px;
    display: inline-block;
}

.donation__amount {
    border: 1px solid var(--color-border);
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 16px 16px 40px;
    font-family: var(--font-family-rubik);
    font-size: 1.5em;
    font-weight: 500;
    color: var(--color-purple);
    line-height: 28px;
    border-radius: var(--radius);
    width: 100%;
    box-sizing: border-box;
}

.donation__amount:focus {
    border: 1px solid var(--color-midnight-purple);
}

.donation__amount::placeholder {
    color: #EEEEEE;
    opacity: 1;
}

.donation__donate, .donation__month {
    flex: 0 0 calc(50% - 12px);
    position: relative;
}

@media only screen and (min-width: 600px) {
    .donation {
        flex-direction: row;
        gap: 24px;
    }
}

.icon {
    display: inline-block;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
}

.icon--giving {
    width: 72px;
    height: 72px;
    background-color: var(--color-midnight-purple);
    mask-image: url("../../assets/givingBlock.svg");
    margin-right: 16px;
}

.icon--dollar {
    width: 24px;
    height: 24px;
    background-color: var(--color-grey);
    mask-image: url("../../assets/dollar.svg");
    position: absolute;
    left: 8px;
    bottom: 19px;
}

.icon--close {
    mask-image: url("../../assets/close.svg");
    background-color: var(--color-purple);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 16px;
    right: 24px
}

@media only screen and (min-width: 600px) {
    .icon--close {
        display: none;
    }
}