@import "../../vars.css";

.card {
    background-color: var(--color-white);
    box-shadow: 0 16px 32px 0 rgba(30, 42, 50, 0.08);
    border-radius: var(--radius);
    width: 600px;
}

.card__header {
    background-color: var(--color-salmon);
    padding: 32px 40px 32px 40px;
    border-radius: var(--radius) var(--radius) 0 0;
    color: var(--color-midnight-purple);
    display: flex;
    align-items: center;
}

.card__title {
    font-weight: 600;
    font-size: 2em;
    font-family: var(--font-family-work);
    margin: 0;
}

.card__subtitle {
    font-weight: 400;
    font-size: 1em;
    margin: 0;
}

.card__content {
    padding: 32px 40px 32px 40px;
}

.card__actions {
    display: flex;
    justify-content: space-between;
    column-gap: 12px;
}

.content__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    margin-top: 32px;
}

.content__label {
    font-weight: 500;
    font-size: 1.5em;
    font-family: var(--font-family-work);
    color: var(--color-dark-grey);
}

.content__amount {
    font-weight: 700;
    font-size: 2em;
    color: var(--color-purple);
}

.content__summary {
    color: var(--color-dark-grey);
    font-size: 0.75em;
    padding: 24px 16px 24px 16px;
    background-color: var(--color-bg);
    border-radius: var(--radius);
    margin: 24px 0 32px 0;
}

.icon {
    display: inline-block;
    width: 72px;
    height: 72px;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: var(--color-midnight-purple);
    mask-image: url("../../assets/givingBlock.svg");
    margin-right: 16px;
}

.donation {
    display: inline-flex;
    justify-content: space-between;
    gap: 24px
}

.donation__label {
    font-family: var(--font-family-work);
    font-size: 14px;
    font-weight: 500;
    color: var(--color-grey);
    margin-bottom: 6px;
    display: inline-block;
}

.donation__amount {
    border: 1px solid #E9EEF2;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 16px 16px 40px;
    font-family: var(--font-family-rubik);
    font-size: 1.5em;
    font-weight: 500;
    color: var(--color-purple);
    line-height: 28px;
    border-radius: var(--radius);
    width: 100%;
    box-sizing: border-box;
}

.donation__amount:focus {
    border: 1px solid var(--color-midnight-purple);
}

.donation__amount::placeholder {
    color: #EEEEEE;
    opacity: 1;
}

.donation__donate, .donation__month {
    flex: 0 0 calc(50% - 12px);
    position: relative;
}

.icon--dollar {
    display: inline-block;
    width: 24px;
    height: 24px;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: var(--color-grey);
    mask-image: url("../../assets/dollar.svg");
    position: absolute;
    left: 8px;
    bottom: 19px;
}